*{
	margin: 0;
	padding: 0;
	font-family:monospace;
}

header{
	background-color:violet;
	
}
body{
	background-color: lightgreen;
}

ul{
	float: right;
	list-style: none;
	margin-top: 40px;


}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: initial;
	color: #361515;
	padding: 7px;
	border: 1px solid #110202;
	transition: 0.6s ease;
}

ul li a:hover
{
	background-color: #fff;
	color: #361515;
}


form{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  




}
div#first{
	float: right;
	background-color: skyblue;
	padding: 20px;
	width: 100%;

}

div#second{
	float: left;
	padding-top: 50px;
    padding-left: 200px;


}
div#third{
	float: right;
	height: 400px;
	width: 400px;
	margin: 50px;
	border: 5px solid;
	background-color: pink;
}

div#fourth{
	
	padding: 400px;
	background-color: lightgreen;
	text-align: center;
}

div#fifth{
	text-align: center;
	border: 10px;
}