*{
	margin: 0;
	padding: 0;
}

header{
	background-color:violet;
	
}
body{
	background-color: lightgreen;
}


ul{
	float: right;
	list-style: none;
	margin-top: 40px;
}


ul li{
	display: inline-block;
}


ul li a{
	text-decoration: initial;
	color: #361515;
	padding: 7px;
	border: 1px solid #110202;
	transition: 0.6s ease;
}


ul li a:hover
{
	background-color: #fff;
	color: #361515;
}


form{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }


  h1{
  	text-align: center;
 }

div#first{
	float: right;
	background-color: skyblue;
	padding: 20px;
	width: 100%;
}

div#second{
	float: left;
    margin: 20px;
    padding-left: 500px;
   border: none;
   border-radius: 20px;
}

.input-field{
	width: 400px;
	height: 40px;
	margin-top: 20px;
	padding left: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;

}
.btn{
	font-size: 12px;
	background-color: skyblue;
	margin-top: 18px;
	padding : 10px;
	border: none;
	border-radius: 20px;
	color: orangered;
	outline: none;
	cursor: pointer;


}


div#fourth{
	padding: 300px;
	background-color: lightgreen;
	text-align: center;
}

